bert-serving-server
bert-serving-client
boto3
cachetools
click
cmake
dill
ddt
isort
jupyter
keras
matplotlib==3.0.0
mypy
nltk
numpy
opencv-python
pandas
psycopg2
pycorenlp
pysoundfile
python-crfsuite
seaborn
selenium
scipy
scikit-learn==0.21.1
sklearn_crfsuite
tensorflow
tensorflow_hub
librosa==0.6.3
codecov
pytest
pytest-cov
torch
torchvision
MulticoreTSNE

