bert-serving-server
bert-serving-client
boto3
beautifulsoup4
black
cachetools
click
cmake
django
djangorestframework
django-cors-headers
dill
ddt
fastai
fire
gspread
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
isort
jupyter
keras
matplotlib==3.0.0
mypy
nltk
numpy
oauth2client
opencv-python
pandas
psycopg2
pycorenlp
PyOpenSSL
pysoundfile
python-crfsuite
seaborn
selenium
scipy
scikit-learn==0.21.1
sklearn_crfsuite
tensorflow
tensorflow_hub
librosa==0.6.3
codecov
pytest
pytest-cov
torch
torchvision
MulticoreTSNE
umap-learn
